@import "tailwindcss";

@theme {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #e28e2a;
  --color-gray: #efefef;
  --color-txt: #151515;
  --color-stroke: #9b8f7e;
  --color-nav: #ffffff38;

  --font-manrope: "manrope", sans-serif;

  --text-h1: 7.75rem;
  --text-h2: 5rem;
  --text-h3: 4.875rem;
  --text-h4: 4rem;
  --text-h5: 3.5rem;
  --text-h6: 2.5rem;

  --text-huge: 2rem;
  --text-large: 1.5rem;
  --text-medium: 1.125rem;
  --text-regular: 1rem;
  --text-small: 0.875rem;
  --text-tiny: 0.75rem;
}

body {
  font-family: var(--font-manrope);
  color: var(--color-txt);
  font-size: var(--text-regular);
}

h1 { font-size: var(--text-h1); }
h2 { font-size: var(--text-h2); }
h3 { font-size: var(--text-h3); }
h4 { font-size: var(--text-h4); }
h5 { font-size: var(--text-h5); }
h6 { font-size: var(--text-h6); }

.animate-spin {
  animation-duration: 20s;
}

